<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chloe.leizu_pro.mapper.product.ProductMapper">

    <select id="getProductById" resultType="com.chloe.leizu_pro.bean.product.Product">
        select * from tbl_product where id = #{id}
    </select>

    <select id="getProductListByCategory" resultType="com.chloe.leizu_pro.bean.product.Product">
        select id, category, product_name, price, promo, promoPrice, image from tbl_product where category = #{category}
    </select>

    <resultMap id="colorMap" type="com.chloe.leizu_pro.bean.product.Product">
        <id property="id" column="id" />
        <result property="productName" column="product_name" />
        <result property="price" column="price" />
        <result property="promoPrice" column="promoPrice" />
        <result property="image" column="image" />
        <collection property="colorImageList" column="id" select="com.chloe.leizu_pro.mapper.product.ColorImageMapper.getColorImageAndNameOfListByProductId" />
    </resultMap>
    <select id="getProductListWithColorByCategoryId" resultMap="colorMap">
        select id,product_name, price, promoPrice, image  from tbl_product where category = #{category}
    </select>

    <select id="getWomenProductListByLimit" resultType="com.chloe.leizu_pro.bean.product.Product">
        select id, product_name, price, promoPrice, image from tbl_product where category like '2%' order by rand() limit #{index}, #{count}
    </select>

    <select id="getMenProductListByLimit" resultType="com.chloe.leizu_pro.bean.product.Product">
        select id, product_name, price, promoPrice, image from tbl_product where category like '1%' order by rand() limit #{index}, #{count}
    </select>


    <resultMap id="contentAndColorMap" type="com.chloe.leizu_pro.bean.product.Product">
        <id property="id" column="id" />
        <result property="productName" column="product_name" />
        <result property="price" column="price" />
        <result property="promo" column="promo" />
        <result property="promoPrice" column="promoPrice" />
        <collection property="colorImageList" column="id" select="com.chloe.leizu_pro.mapper.product.ColorImageMapper.getColorImageAndNameOfListByProductId" />
        <collection property="contentImageList" column="id" select="com.chloe.leizu_pro.mapper.product.ContentImageMapper.getContentImageListByProductId" />
    </resultMap>
    <select id="getProductWithColorAndContentById" resultMap="contentAndColorMap">
        select id,product_name, price,promo, promoPrice  from tbl_product where id = #{id}
    </select>

    <select id="getProductListByPromoWomen" resultType="java.lang.Integer">
        select id from tbl_product where promo = #{promo} and category like '2%'
    </select>

    <select id="getProductListByPromoMen" resultType="java.lang.Integer">
        select id from tbl_product where promo = #{promo} and category like '1%'
    </select>

    <select id="getProductPromoInfoById" resultType="com.chloe.leizu_pro.bean.product.Product">
        select category, product_name, price, promo, promoPrice  from tbl_product where id = #{id}
    </select>

    <select id="getidListByKeyWord" resultType="java.lang.Integer">
        select id from tbl_product where
            <choose>
                <when test="gender == 'women'">
                    category like '2%' and (
                </when>
                <when test="gender == 'men'">
                    category like '1%' and (
                </when>
                <otherwise>

                </otherwise>
            </choose>
            product_name
            <foreach collection="keys" item="key" separator="or" open="like">
                "%"#{key}"%"
            </foreach>
            <if test="gender != null">)</if>
    </select>


    <select id="getRandomListByGender" resultType="java.lang.Integer">
        select id from tbl_product
        <if test="gender != null">
            <where>
                <choose>
                    <when test="gender == 'women'">
                        category like '2%'
                    </when>
                    <when test="gender == 'men'">
                        category like '1%'
                    </when>
                    <otherwise></otherwise>
                </choose>
            </where>
        </if>
        order by rand() limit 7
    </select>
    <select id="getProductWithColorNames" resultMap="colorMap">
        select id, product_name, price, promoPrice, image from tbl_product  where id in
        <foreach collection="products" separator="," open="(" item="id" close=")">
            #{id}
        </foreach>
    </select>

    <select id="getPromoNameById" resultType="java.lang.String">
        select m.promo_name
        from tbl_product p
        left join tbl_promotion m
        on p.promo = m.promo_code
        where p.id = #{id}
    </select>

    <select id="getProductName" resultType="java.lang.String">
        select product_name from tbl_product where id =#{id}
    </select>
</mapper>