<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chloe.leizu_pro.mapper.product.PromoCodeMapper">
    <select id="getPromoById" resultType="com.chloe.leizu_pro.bean.product.PromoCode">
        select * from tbl_promotion where promo_code = #{id}
    </select>

    <select id="getAllPromoCode" resultType="com.chloe.leizu_pro.bean.product.PromoCode">
        select * from tbl_promotion;
    </select>
</mapper>