<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leizu 國際服飾品牌</title>
    <div th:replace="commons::inputCommons"></div>
    <link rel="stylesheet" href="../css/forget_password.css"  th:href="@{/css/forget_password.css}">
    <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
    <script th:src="@{/js/forget_password.js}"></script>

</head>


<body>
    <div class="mask"></div>
    <!-- Commons部分 -->
    <div th:replace="commons::header"></div>

    <div class="center wrapper">
        <div class="nav_top">
            <ul>
                <li class="current">忘記密碼</li>
            </ul>
        </div>
        <div class="nav_bottom">
            <ul>
                <li class="verifySec current">
                    <form method="POST">
                        <p>我們將寄發新的密碼到您的信箱</p>
                        <input type="text" placeholder="請輸入信箱" required  class="userEmail"  name="user_email">
                        <input type="submit" value="寄出">
                    </form>
                </li>
                <li class="emailed">
                    <p>新的密碼已寄到您的信箱</p>
                    <a th:href="@{/login_register}">前往登入</a>
                </li>
                <li class="failed">
                    <p>此信箱並未註冊過，請您確認是否輸入錯誤，或者註冊成為新會員</p>
                    <div class="clearfix">
                        <a class="left" th:href="@{/forget_pwd}">重新輸入信箱</a>
                        <a class="right" th:href="@{/login_register}">前往註冊</a>
                    </div>

                </li>
            </ul>

        </div>
        
    </div>


    <hr class="wrapper">
    <div th:replace="commons::footer"></div>
</body>

</html>

