<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leizu 國際服飾品牌</title>
    <div th:replace="commons::inputCommons"></div>
    <link rel="stylesheet" href="../css/login_register.css"  th:href="@{/css/login_register.css}">
    <script th:src="@{/js/login_register.js}"></script>
</head>


<body>
    <!-- Commons部分 -->
    <div th:replace="commons::header"></div>

    <div class="center wrapper">
        <div class="nav_top">
            <ul>
                <li class="current">會員登入</li>
                <li >註冊</li>
            </ul>
        </div>
        <div class="nav_bottom">
            <ul>
                <li class="current">
                    <form th:action="@{/user/login}" method="POST">
                        <div>
                            <input type="text" placeholder="請輸入Email / 手機號碼" name="account" id="account"
                                   th:value="${(rememberInfo!=null) ? (rememberInfo.email != null ? rememberInfo.email: rememberInfo.phone):''}">
                            <span class="msg"></span>
                        </div>
                        <div>
                            <input type="password" placeholder="請輸入密碼（6-20英數字）" name="password" id="password" maxlength="21"
                            th:value="${rememberInfo != null ? rememberInfo.password: ''}">
                            <span class="msg" th:text="${(failMsg!=null)?failMsg:''}"></span>
                        </div>
                        <input type="submit" value="登入">
                        <div class="clearfix">
                            <input type="checkbox" value="yes" name="remember" id="remenber" th:checked="${rememberInfo!=null}"><label for="remenber">記住我</label>
                            <a href="">忘記密碼？</a>
                        </div>
                    </form> 
                </li>
                <li class="">
                    <form action="" method="POST">
                        <h4>加入專屬會員</h4>
                        <p>我們將發送簡訊驗證碼至您的手機內</p>
                        <input type="tel" placeholder="請輸入手機號碼">
                        <input type="submit" value="下一步">
                        <p>收到簡訊驗證碼後，請依照步驟完成驗證註冊</p>
                    </form> 
                </li>
            </ul>

        </div>
        
    </div>


    <hr class="wrapper">
    <div th:replace="commons::footer"></div>
</body>

</html>

