<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leizu 國際服飾品牌</title>
    <div th:replace="commons::inputCommons"></div>
    <link rel="stylesheet" href="../css/login_register.css">
    <script th:src="@{/js/registered.js}"></script>


</head>

<body>
    <!-- Commons部分 -->
    <div th:replace="commons::header"></div>


    <div class="center wrapper">
       
        <div class="nav_bottom">
            <ul class="registered">
                <li class="current">
                        <p th:text="${msg}">已完成註冊。</p>
                        <p>頁面將在<span>5</span>秒後跳轉到首頁...</p>
                        <p><a th:href="@{/index}">直接跳轉到首頁</a></p>
                </li>
            </ul>

        </div>
        
    </div>


    <hr class="wrapper">
    <div th:replace="commons::footer"></div>
</body>

</html>

