<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leizu 國際服飾品牌</title>
    <div th:replace="commons::inputCommons"></div>
    <link rel="stylesheet" href="../css/login_register.css"  th:href="@{/css/login_register.css}">
    <script th:src="@{/js/register.js}"></script>

</head>

<body>
    <!-- Commons部分 -->
    <div th:replace="commons::header"></div>


    <div class="center wrapper">
        <div class="nav_top">
            <ul>
                <li class="current">註冊</li>
            </ul>
        </div>
        <div class="nav_bottom">
            <ul class="register">
                <li class="current">
                    <form th:action="@{/register}" method="POST">
                        <input type="hidden" name="email" th:value="${userEmail}">
                        <div>
                            <label for="uName">姓&emsp;&emsp;&emsp;&emsp;名：</label>
                            <input type="text" required placeholder="請輸入姓名" id="uName" name="userName">
                        </div>
                        <div>
                            <label for="upwd">密&emsp;&emsp;&emsp;&emsp;碼：</label>
                            <input type="password" required placeholder="請輸入密碼（6-20英數字）" id="upwd" name="password">
                        </div>
                        <div>
                            <label for="upwd_again">再次輸入密碼：</label>
                            <input type="password" required placeholder="請再次輸入密碼" id="upwd_again">
                        </div>

                        <div>
                            <label for="uPhone">手&emsp;&emsp;&emsp;&emsp;機：</label>
                        <input type="tel" required  placeholder="請輸入手機" id="uPhone" name="phone" onkeyup="value=value.replace(/[^\d]/g,'') ">
                        </div>
                        <p id="msg">.</p>
                        <input type="submit" value="註冊">
                    </form> 
                </li>
            </ul>

        </div>
        
    </div>



    <hr class="wrapper">
    <div th:replace="commons::footer"></div>
</body>

</html>

