<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leizu 國際服飾品牌</title>
    <div th:replace="commons::inputCommons"></div>
    <link rel="stylesheet" href="../css/user.css" th:href="@{/css/user/user.css}">
    <link rel="stylesheet" href="../css/user_keep.css" th:href="@{/css/user/user_keep.css}">
    <script th:src="@{/js/user_keep.js}"></script>

</head>

<body>
    <!-- Commons部分 -->
    <div th:replace="commons::header"></div>


    <div class="center wrapper">
        <div class="nav_top">
            <ul>
                <li><a class="current" th:href="@{/user/keepes}">我的收藏</a></li>
                <li><a href="#">訂單狀況</a></li>
                <li><a th:href="@{/user/profile}">個人資料與密碼修改</a></li>
            </ul>
        </div>
        <div class="nav_bottom">
                <ul th:if="${userKeepProductList}">
                    <li th:each="keepProduct :${userKeepProductList}" th:value="${keepProduct.id}">
                        <span class="deleteKeep"></span>
                        <a href="#">
                            <img th:src="${keepProduct.image}" th:alt-title="${keepProduct.productName}" >
                        </a>
                        <h6 th:text="${keepProduct.productName}">細肩帶印花洋裝-女</h6>
                        <p th:if="${keepProduct.promoPrice}" th:inline="javascript"><del>NT$[[${keepProduct.price}]]</del> 活動價NT$[[${keepProduct.promoPrice}]]</p>
                        <p th:unless="${keepProduct.promoPrice}" th:inline="javascript">NT$[[${keepProduct.price}]]</p>
                        <div class="color_size clearfix">
                            <select  class="color_select">
                                <option selected disabled>顏色</option>
                                <option th:each="color:${keepProduct.colorImageList}" th:value="${color.id}" th:text="${color.productColor}">黑色</option>
                            </select>
                            <select class="size_select">
                                <option selected disabled>尺寸</option>
                            </select>
                        </div>
                        <div class="product_section_bottom clear">
                            <select  class="quantity_select">
                                <option selected disabled >數量</option>
                            </select>
                            <a href="javascript:;" class="add_cart">選購</a>
                        </div>
                    </li>
                </ul>
        </div>
        
    </div>


    <hr class="wrapper">
    <div th:replace="commons::footer"></div>
</body>

</html>

