<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leizu 國際服飾品牌</title>

    <div th:replace="commons::inputCommons"></div>
    <link rel="stylesheet" href="../css/user.css" th:href="@{/css/user/user.css}">
    <link rel="stylesheet" href="../css/user.css" th:href="@{/css/user/user_profile.css}">
    <script th:src="@{/js/user_profile.js}"></script>

</head>

<body>
    <!-- Commons部分 -->
    <div th:replace="commons::header"></div>


    <div class="center wrapper">
        <div class="nav_top">
            <ul>
                <li><a th:href="@{/user/keepes}">我的收藏</a></li>
                <li><a href="#">訂單狀況</a></li>
                <li><a class="current"  th:href="@{/user/profile}">個人資料與密碼修改</a></li>
            </ul>
        </div>
        <div class="nav_bottom">
            <form th:action="@{/user/profile}" method="post">
                <div class="user_profile" >
                    <h2>會員資料修改</h2>
                    <table class="profile_content">
                        <tr>
                            <td>中文全名</td>
                            <td><input type="text" name="userName" th:value="${userProfile.userName}"></td>
                        </tr>
                        <tr>
                            <td>電子郵件</td>
                            <td><input type="email" name="email" th:value="${userProfile.email!=null?userProfile.email:''}" ></td>
                        </tr>
                        <tr>
                            <td>手機號碼</td>
                            <td><input  type="tel" th:value="${userProfile.phone}" name="phone" oninput="value=value.replace(/[^\d\-\d]/g,'')"></td>
                        </tr>
                        <tr>
                            <td>修改密碼</td>
                            <td><input type="password"><span class="remind"><strong>6個字元以上，需包含英文及數字組合</strong></span></td>
                        </tr>
                        <tr>
                            <td>密碼確認</td>
                            <td><input name="password" type="password"><span class="remind"><strong>請再輸入一次以做確認</strong></span></td>
                        </tr>
                        <tr>
                            <td>聯絡地址</td>
                            <td><input name="address" type="text" th:value="${userProfile.address!= null ?userProfile:''}"></td>
                        </tr>
                    </table>
                    <input type="submit" value="送出">
                </div>
            </form>
        </div>
        
    </div>


    <hr class="wrapper">
    <div th:replace="commons::footer"></div>
</body>

</html>

