<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chloe.leizu_pro.mapper.user.TradingRecordMapper">

    <insert id="addTradingRecord" keyColumn="cart_id" useGeneratedKeys="true" parameterType="com.chloe.leizu_pro.bean.user.TradingRecord">
        insert into tbl_trading_record(user_id, buy_date, total_quantity, total_price)
        values(#{userId}, #{buyDate}, #{totalQuantity}, #{totalPrice})
    </insert>

    <insert id="addTradingRecordList" keyColumn="cart_id" useGeneratedKeys="true" parameterType="com.chloe.leizu_pro.bean.user.TradingRecord">
        insert into tbl_trading_record(user_id, buy_date, total_quantity, total_price)
        <foreach collection="records" open="values" item="record" separator=",">
            (#{record.userId}, #{record.buyDate}, #{record.totalQuantity}, #{record.totalPrice})
        </foreach>
    </insert>

    <select id="getUserOrders" resultType="com.chloe.leizu_pro.bean.user.TradingRecord">
        select * from tbl_trading_record where user_id = #{userId}
        order by buy_date desc
    </select>

    <select id="getUserOrdersLength" resultType="java.lang.Integer">
        select count(*) from tbl_trading_record where user_id = #{userId}
    </select>

    <select id="getNewTradingCode" resultType="java.lang.Integer" >
        select cart_id from tbl_trading_record order by cart_id desc limit 1;
    </select>


</mapper>