<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chloe.leizu_pro.mapper.user.UserMapper">
    <insert id="addUser" parameterType="com.chloe.leizu_pro.bean.user.User" useGeneratedKeys="true" keyColumn="user_id" >
        insert into tbl_user(password, user_name, email, phone, address)
        values(#{password}, #{userName}, #{email}, #{phone}, #{address});
    </insert>
    <select id="getUserByEmailOrPhone" resultType="com.chloe.leizu_pro.bean.user.User">
        select user_id, password, user_name, email, phone, address from tbl_user where
            <if test="email != null">
                email = #{email}
            </if>
            <if test="phone != null">
                phone = #{phone}
            </if>
    </select>

    <select id="getUserProfileById" resultType="com.chloe.leizu_pro.bean.user.User">
        select * from tbl_user where user_id = #{userId}
    </select>

    <update id="updateUser" parameterType="com.chloe.leizu_pro.bean.user.User">
        update tbl_user
        <trim prefix="set" suffixOverrides=",">
            <if test="user.password != null"> password = #{user.password} ,</if>
            <if test="user.userName != null"> user_name = #{user.userName} ,</if>
            <if test="user.email != null"> email = #{user.email} ,</if>
            <if test="user.phone != null"> phone = #{user.phone} ,</if>
            <if test="user.address != null"> address = #{user.address} ,</if>
        </trim>
         where user_id = #{user.userId}
    </update>

</mapper>

