body {
    width: 100%;
    height: 100%;
}

.mask {
    display: none;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    z-index: 30;
    cursor: progress;
}
.center {
    width: 60%;
    margin: 75px auto;
}

.nav_top {
    height: 45px;
}

.nav_top li {
    display: inline-block;
    padding: 0 15px;
    width: 150px;
    height: 46px;
    line-height: 46px;
    font-size: 17px;
    text-align: center;
    border: 1px solid #eee;
    border-top: #eee 3px solid;
    border-collapse: collapse;
    background-color: #f9f9f9;
    color: #777;
    opacity: .7;
    cursor: pointer;;
}

.nav_top li[class*=current] {
    border-top-color: #C0A886;
    border-bottom: none;
    background-color: #fff;
    color: #222;
    opacity: 1;
    cursor: default;
}

.nav_bottom {
    height: 350px;
    border: 1px solid #eee;
    overflow: hidden;
    font-size: 13px;
}

.nav_bottom li {
    display: none;
    padding: 50px;
    height: 350px;
    width: 859px;
    box-sizing: border-box;
}

.nav_bottom li input {
    font-size: 15px;
}

.nav_bottom li input[type=text],
.nav_bottom li input[type=submit] {
    display: block;
    margin: 0px auto;
    width: 300px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #eee;
    outline: none;   
}

.nav_bottom li input[type=submit] {
    margin: 25px auto;
    background-color: #4D3126;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.nav_bottom li input[type=submit]:hover {
    background-color: #AF9D92;
}


.nav_bottom input::placeholder {
    color: #ccc;
    font-size: 14px;
}

.nav_bottom .current {
    display: block;
}

.nav_bottom p {
    font-size: 14px;
    margin: 25px auto;
    text-align: center;
    color: #999;
}

.verifySec input[type=text] {
    text-align: center;
}

.nav_bottom .clearfix {
    margin: 50px auto;
    width: 55%;
}

.nav_bottom .clearfix a,
.emailed a {
    display: inline-block;
    padding: 10px 25px;
    letter-spacing: 1px;
    background-color: #4D3028;
    color: #ffffff;
}

.nav_bottom .clearfix a:hover,
.emailed a:hover {
    text-decoration: none;
    background-color: #C3A789;
}

.nav_bottom .clearfix .left {
    float: left;
}

.nav_bottom .clearfix .right {
    float: right;
    background-color: #99846e;
}

.nav_bottom .failed p {
    font-size: 14px;
    color: #777;
}

.emailed a {
    margin: 25px auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}

