.left_nav {
    position: sticky;
    top: 35px;
    height: 50%;
}
.product_block {
    display: inline-block;
    flex: 1;
    margin-left: 55px;

}

.banner img {
    width: 1010px;
    height: 400px;
}

.product_section ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.product_section li {
    display: inline-block;
    text-align: center;
    margin: 35px 0 22px 0;
}

.product_section li >h3 {
    margin: 20px 0 10px 0;
}