<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leizu 國際服飾品牌</title>
    <div th:replace="commons::inputCommons"></div>
    <link rel="stylesheet"  th:href="@{/css/cart.css}">
    <link rel="stylesheet"  th:href="@{/css/cart_finish.css}">


</head>

<body>
    <!-- Commons部分 -->
    <div th:replace="commons::header"></div>


    <div class="center wrapper">
        <div class="cart_top">
            <ul>
                <li class="done">
                    <div class="circle_index">1</div>
                    <div class="arrow"></div>
                    <p>確認購物車</p>
                </li>
                <li  class="done">
                    <div class="circle_index">2</div>
                    <div class="arrow"></div>
                    <p>付款與填寫資料</p>
                </li>
                
                <li class="last_item done">
                    <div class="circle_index">3</div>
                    <p>完成訂購</p>
                </li>
            </ul>
        </div>
        <div class="cart_bottom">
           <p>已完成訂購</p>
            <div class="clearfix">
                <a class="left" th:href="@{/search}">繼續購物</a>
                <a class="right" th:href="@{/user/orders}">查看訂單明細</a>
            </div>
        </div>
    </div>




   <hr class="wrapper">

    <div th:replace="commons::footer"></div>

</body>

</html>

