<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leizu 國際服飾品牌</title>

    <link rel="stylesheet" href="../css/base.css" th:href="@{/css/base.css}">
    <link rel="stylesheet" href="../css/common.css" th:href="@{/css/common.css}">
    <link rel="stylesheet" href="../css/cart.css">
    <script src="../js/jQuery3.6.0.js" th:src="@{/js/jQuery3.6.0.js}"></script>

</head>

<body>
    <!-- Commons部分 -->
    <div class="header">
        <div class="wrapper clearfix">
            <div class="logo"><a href="javascript:;">Leizu</a></div>
            <nav>
                <ul>
                    <li><a href="javascript:;">WOMEN</a></li>
                    <li><a href="javascript:;">MEN</a></li>
                </ul>
            </nav>
            <div class="userConsole">
                <div class="search">
                    <form>
                        <input type="text" placeholder="SREACH...">
                        <input type="submit" class="icomoon" value="">
                    </form>
                </div>
                <div class="sub_nav">
                    <ul>
                        <li>
                            <i class="icomoon"></i>
                            <div class="sub_sub_nav">
                                <ul>
                                    <li><a href="#">訂單查詢</a></li>
                                    <li><a href="#">會員專區</a></li>
                                    <li><a href="#">我的收藏</a></li>
                                    <li><a href="#">會員登錄/註冊</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <i class="icomoon"></i>
                            <div class="sub_sub_nav">

                                <p>購物車清單</p>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


    <div class="center wrapper">
        <div class="cart_top">
            <ul>
                <li class="done">
                    <div class="circle_index">1</div>
                    <div class="arrow"></div>
                    <p>確認購物車</p>
                </li>
                <li class="current">
                    <div class="circle_index">2</div>
                    <div class="arrow"></div>
                    <p>付款與填寫資料</p>
                </li>
                
                <li class="last_item">
                    <div class="circle_index">3</div>
                    <p>完成訂購</p>
                </li>
            </ul>
        </div>
        <div class="cart_bottom">
            <div class="no_product">
                <span></span>
                <p>您的購物車內沒有任何商品</p>
                <a href="#">去購物</a>

            </div>
            
        </div>

    </div>




   <hr class="wrapper">

    <footer class="wrapper clear">
        <div class="footer_left">
            <ul>
                <li><a href="#">聯絡leizu</a></li>
                <li><a href="#">購物說明</a></li>
                <li><a href="#">最新消息</a></li>
                <li><a href="#">品牌日誌</a></li>
            </ul>
        </div>
        <div class="footer_right">
            <ul>
                <li><a href="#">網站使用條款</a></li>
                <li><a href="#">隱私權政策</a></li>
                <li><a href="#">免責聲明</a></li>
                <li>© 2021 leizu</li>
            </ul>
        </div>
</body>

</html>

