<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/base.css" th:href="@{/css/base.css}">
    <link rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}">

</head>
<body>
    <div class="header" th:fragment="header">
        <div class="wrapper clearfix">
            <div class="logo"><a href="javascript:;" th:href="@{/index}" title="Leizu">Leizu</a></div>
            <nav>
                <ul>
                    <li><a href="javascript:;" th:href="@{/women}">WOMEN</a></li>
                    <li><a href="javascript:;" th:href="@{/men}">MEN</a></li>
                </ul>
            </nav>
            <div class="userConsole">
                <div class="search">
                    <form>
                        <input type="text" placeholder="SREACH...">
                        <input type="submit" class="icomoon" value="">
                    </form>
                </div>
                <div class="sub_nav">
                    <ul>
                        <li>
                            <i class="icomoon"></i>
                            <div class="sub_sub_nav">
                            <ul>
                                <li><a href="javascript:;">訂單查詢</a></li>
                                <li><a href="javascript:;">會員專區</a></li>
                                <li><a href="javascript:;">我的收藏</a></li>
                                <li><a href="javascript:;">會員登錄/註冊</a></li>
                            </ul>
                        </div>
                        </li>
                        <li>
                            <i class="icomoon"></i>
                            <div class="sub_sub_nav">
                                
                                <p>購物車清單</p>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="center wrapper">
        <!-- Women Main Left -->
        <div class="left_nav" th:fragment="leftNav">
            <div class="category category_promo">
                <h2 th:if="${gender=='women'}">女裝新品 & 熱銷</h2>
                <h2 th:if="${gender=='men'}">男裝新品 & 熱銷</h2>
                <ul>
                    <li><a th:href="@{activites/2P198}">限時搶購．任選2件198</a></li>
                    <li><a th:href="@{activites/D100}">四季百搭．任選299起</a></li>
                    <li><a th:href="@{activites/3P80DUP}">秋裝上市．任兩件享優惠</a></li>
                    <li><a th:href="@{activites/sale}">超值精選．滿2件58折起</a></li>
                    <li><a th:href="@{activites/sport}">運動一夏．任選149起</a></li>
                </ul>
            </div>
            <ul>
                <li class="category category_product_main" th:each="category :${categoryList}">
                    <h2 class="categoryMain"  th:text="${category.key}">上衣類</h2>
                    <ul>
                        <li th:each="value:${category.value}">
                            <a th:href="@{/products(i=${#strings.substring(value,0,6)})}" th:text="${#strings.substring(value,6)}">聯名印花短T</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>


    <footer class="wrapper clear" th:fragment="footer">
        <div class="footer_left">
            <ul>
                <li><a href="javascript:;">聯絡leizu</a></li>
                <li><a href="javascript:;">購物說明</a></li>
                <li><a href="javascript:;">最新消息</a></li>
                <li><a href="javascript:;">品牌日誌</a></li>
            </ul>
        </div>
        <div class="footer_right">
            <ul>
                <li><a href="javascript:;">網站使用條款</a></li>
                <li><a href="javascript:;">隱私權政策</a></li>
                <li><a href="javascript:;">免責聲明</a></li>
                <li>&copy; 2021 leizu</li>
            </ul>
        </div>
    </footer>
   

</body>
</html>