<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leizu 國際服飾品牌</title>
    <div th:replace="commons::inputCommons"></div>
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
    <script  src="../js/index.js" th:src="@{/js/index.js}"></script>

</head>

<body>
<div class="toUp"><span>TOP</span></div>
    <div th:replace="commons::header"></div>

    <div class="center">
        <div class="top_box wrapper">
            <a href="javascript:;" class="box_back box_button"></a>
            <a href="javascript:;" class="box_next box_button"></a>
            <ul class="box_section">
            </ul>
            <ul class='box_dot'></ul>
        </div>

        <div class="wrapper wrap">
            <ul class="waterfall">
                <li><img src="../images/uploads/waterfall/52000_1200_210825_TW_s.jpeg" alt=""></li>
                <li><img src="../images/uploads/waterfall/52116_1200_210729_TW_s.jpeg" alt=""></li>
                <li><img src="../images/uploads/waterfall/52397_1200_210616_TW_2_s.jpeg" alt=""></li>
                <li><img src="../images/uploads/waterfall/52533_1200_210322_TW2_0_s.jpeg" alt=""></li>
                <li><img src="../images/uploads/waterfall/54036_1200_210821_SB_TW_s.jpeg" alt=""></li>
                <li><img src="../images/uploads/waterfall/54909_1200_210817a_TW_s.png" alt=""></li>
            </ul>
            <ul class="waterfall">
                <li><img src="../images/uploads/waterfall/52096_1200_210824a-2_TW_s.png" alt=""></li>
                <li><img src="../images/uploads/waterfall/FS_1200_210319_0913_TW_s.jpeg" alt=""></li>
                <li><img src="../images/uploads/waterfall/52339_1200_210623_133_SB_TW_0_s.jpeg" alt=""></li>
                <li><img src="../images/uploads/waterfall/52497_1200_210520_TW_s.png" alt=""></li>
                <li><img src="../images/uploads/waterfall/53380_1200_210624_TW_1_s.jpeg" alt=""></li>
                <li><img src="../images/uploads/waterfall/54189_1200_210821a_SB_TW_s.jpeg" alt=""></li>
            </ul>
        </div>
    </div>
    <hr class="wrapper">
    <div th:replace="commons::footer"></div>

</body>

</html>