<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/login_register.css">

    <script src="../js/jQuery3.6.0.js"></script>

</head>

<body>
    <!-- Commons部分 -->
    <div class="header">
        <div class="wrapper clearfix">
            <div class="logo"><a href="javascript:;">Leizu</a></div>
            <nav>
                <ul>
                    <li><a href="javascript:;">WOMEN</a></li>
                    <li><a href="javascript:;">MEN</a></li>
                </ul>
            </nav>
            <div class="userConsole">
                <div class="search">
                    <form>
                        <input type="text" placeholder="SREACH...">
                        <input type="submit" class="icomoon" value="">
                    </form>
                </div>
                <div class="sub_nav">
                    <ul>
                        <li>
                            <i class="icomoon"></i>
                            <div class="sub_sub_nav">
                                <ul>
                                    <li><a href="#">訂單查詢</a></li>
                                    <li><a href="#">會員專區</a></li>
                                    <li><a href="#">我的收藏</a></li>
                                    <li><a href="#">會員登錄/註冊</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <i class="icomoon"></i>
                            <div class="sub_sub_nav">

                                <p>購物車清單</p>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


    <div class="center wrapper">
        <div class="nav_top">
            <ul>
                <li >會員登入</li>
                <li class="current">註冊</li>
            </ul>
        </div>
        <div class="nav_bottom">
            <ul>
                <li class="">
                    <form action="" method="POST">
                        <input type="text" placeholder="請輸入Email / 手機號碼">
                        <input type="password" placeholder="請輸入密碼（6-20英數字）">
                        <input type="submit" value="登入">
                        <div class="clearfix">
                            <input type="checkbox" value="" name="" id="remenber"><label for="remenber">記住我</label>
                            <a href="">忘記密碼？</a>
                        </div>
                    </form> 
                </li>
                <li class="current">
                    <form action="" method="POST">
                        <h4>加入專屬會員</h4>
                        <p>我們將發送簡訊驗證碼至您的手機內</p>
                        <input type="tel" placeholder="請輸入手機號碼">
                        <input type="submit" value="下一步">
                        <p>收到簡訊驗證碼後，請依照步驟完成驗證註冊</p>
                    </form> 
                </li>
            </ul>

        </div>
        
    </div>


    <footer>
        <p> 測試用的footer</p>
        <p> 測試用的footer</p>
        <p> 測試用的footer</p>
        <p> 測試用的footer</p>
        <p> 測試用的footer</p>
        <p> 測試用的footer</p>
    </footer>
</body>

</html>

