<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/main_left_nav.css">
    <link rel="stylesheet" href="../css/main_women.css">

    <script src="../js/jQuery3.6.0.js"></script>

</head>

<body>
    <!-- Commons部分 -->
    <div class="header">
        <div class="wrapper clearfix">
            <div class="logo"><a href="javascript:;">Leizu</a></div>
            <nav>
                <ul>
                    <li><a href="javascript:;">WOMEN</a></li>
                    <li><a href="javascript:;">MEN</a></li>
                </ul>
            </nav>
            <div class="userConsole">
                <div class="search">
                    <form>
                        <input type="text" placeholder="SREACH...">
                        <input type="submit" class="icomoon" value="">
                    </form>
                </div>
                <div class="sub_nav">
                    <ul>
                        <li>
                            <i class="icomoon"></i>
                            <div class="sub_sub_nav">
                                <ul>
                                    <li><a href="#">訂單查詢</a></li>
                                    <li><a href="#">會員專區</a></li>
                                    <li><a href="#">我的收藏</a></li>
                                    <li><a href="#">會員登錄/註冊</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <i class="icomoon"></i>
                            <div class="sub_sub_nav">

                                <p>購物車清單</p>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


    <div class="center wrapper">
        <!-- Women Main Left -->
        <div class="left_nav">
            <div class="category category_promo">
                <h2>女裝新品 & 熱銷</h2>
                <ul>
                    <li><a href="#">超值特惠．任兩件享優惠</a></li>
                    <li><a href="#">牛仔大賞．任選330起</a></li>
                    <li><a href="#">秋裝上市．任兩件享優惠</a></li>
                    <li><a href="#">運動一夏．任選149元起</a></li>
                    <li><a href="#">驚喜特惠．任選299元</a></li>
                </ul>
            </div>

            <ul>
                <li class="category category_product_main">
                    <h2 class="categoryMain">上衣類</h2>
                    <ul>
                        <li><a href="#">聯名印花短T</a></li>
                        <li><a href="#">聯名印花長T</a></li>
                        <li><a href="#">設計印花T</a></li>
                        <li><a href="#">短袖上衣</a></li>
                        <li><a href="#">快乾系列</a></li>
                        <li><a href="#">條紋系列</a></li>
                        <li><a href="#">莫代爾系列</a></li>
                        <li><a href="#">polo系列</a></li>
                        <li><a href="#">針織衫/毛衣</a></li>
                        <li><a href="#">五/七分袖</a></li>
                        <li><a href="#">長袖上衣</a></li>
                        <li><a href="#">立領/高領</a></li>
                        <li><a href="#">長版上衣</a></li>
                        <li><a href="#">輕涼系列</a></li>
                        <li><a href="#">Bra系列</a></li>
                        <li><a href="#">細肩帶/背心</a></li>
                        <li><a href="#">厚棉系列</a></li>
                    </ul>
                </li>
                <li class="category category_product_main">
                    <h2 class="categoryMain">襯衫類</h2>
                    <ul>
                        <li><a href="#">商務襯衫</a></li>
                        <li><a href="#">嫘縈/雪紡</a></li>
                        <li><a href="#">休閒襯衫</a></li>
                        <li><a href="#">亞麻/棉麻襯衫</a></li>
                        <li><a href="#">格紋襯衫</a></li>
                        <li><a href="#">法蘭絨襯衫</a></li>
                    </ul>
                </li>
                <li class="category category_product_main">
                    <h2 class="categoryMain">外套類</h2>
                    <ul>
                        <li><a href="#">機能風衣</a></li>
                        <li><a href="#">抗UV系列</a></li>
                        <li><a href="#">休閒外套</a></li>
                        <li><a href="#">針織外套</a></li>
                        <li><a href="#">西裝/大衣</a></li>
                        <li><a href="#">Fleece系列</a></li>
                    </ul>
                </li>

                <li class="category category_product_main">
                    <h2 class="categoryMain">上衣類</h2>
                    <ul>
                        <li><a href="#">聯名印花短T</a></li>
                        <li><a href="#">聯名印花長T</a></li>
                        <li><a href="#">設計印花T</a></li>
                        <li><a href="#">短袖上衣</a></li>
                        <li><a href="#">快乾系列</a></li>
                        <li><a href="#">條紋系列</a></li>
                        <li><a href="#">莫代爾系列</a></li>
                        <li><a href="#">polo系列</a></li>
                        <li><a href="#">針織衫/毛衣</a></li>
                        <li><a href="#">五/七分袖</a></li>
                        <li><a href="#">長袖上衣</a></li>
                        <li><a href="#">立領/高領</a></li>
                        <li><a href="#">長版上衣</a></li>
                        <li><a href="#">輕涼系列</a></li>
                        <li><a href="#">Bra系列</a></li>
                        <li><a href="#">細肩帶/背心</a></li>
                        <li><a href="#">厚棉系列</a></li>
                    </ul>
                </li>
                <li class="category category_product_main">
                    <h2 class="categoryMain">襯衫類</h2>
                    <ul>
                        <li><a href="#">商務襯衫</a></li>
                        <li><a href="#">嫘縈/雪紡</a></li>
                        <li><a href="#">休閒襯衫</a></li>
                        <li><a href="#">亞麻/棉麻襯衫</a></li>
                        <li><a href="#">格紋襯衫</a></li>
                        <li><a href="#">法蘭絨襯衫</a></li>
                    </ul>
                </li>
                <li class="category category_product_main">
                    <h2 class="categoryMain">外套類</h2>
                    <ul>
                        <li><a href="#">機能風衣</a></li>
                        <li><a href="#">抗UV系列</a></li>
                        <li><a href="#">休閒外套</a></li>
                        <li><a href="#">針織外套</a></li>
                        <li><a href="#">西裝/大衣</a></li>
                        <li><a href="#">Fleece系列</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="product_block">
            <div class="banner">
                <img src="../images/uploads/55075_1010X400_210823_TW.jpeg" alt="">

            </div>
            <div class="product_section">
                <ul>
                    <li>
                        <a href="#">
                            <img src="../images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <h3>細肩帶印花洋裝-女</h3>
                        <p>NT$690 活動價 NT$ 490</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <h3>細肩帶印花洋裝-女</h3>
                        <p>NT$690 活動價 NT$ 490</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <h3>細肩帶印花洋裝-女</h3>
                        <p>NT$690 活動價 NT$ 490</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <h3>細肩帶印花洋裝-女</h3>
                        <p>NT$690 活動價 NT$ 490</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <h3>細肩帶印花洋裝-女</h3>
                        <p>NT$690 活動價 NT$ 490</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <h3>細肩帶印花洋裝-女</h3>
                        <p>NT$690 活動價 NT$ 490</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <h3>細肩帶印花洋裝-女</h3>
                        <p>NT$690 活動價 NT$ 490</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <h3>細肩帶印花洋裝-女</h3>
                        <p>NT$690 活動價 NT$ 490</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <footer>
        <p> 測試用的footer</p>
        <p> 測試用的footer</p>
        <p> 測試用的footer</p>
        <p> 測試用的footer</p>
        <p> 測試用的footer</p>
        <p> 測試用的footer</p>
    </footer>
</body>

</html>

<!-- <script>
    $(".category").mouseenter(function(){
        $(this).children("ul").stop().slideUp();
    }).mouseleave(function(){
        $(this).children("ul").stop().slideDown();
    });
    
</script> -->