<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leizu 國際服飾品牌</title>
    <div th:replace="commons::inputCommons"></div>
    <link rel="stylesheet" href="../static/css/product_activities.css" th:href="@{/css/product_activities.css}">
    <script th:src="@{/js/activities.js}"></script>
<script th:inline="javascript">
    var cart = [[${session.cart}]];
    var promoCode = [[${promoCode}]];

</script>

</head>

<body>
    <!-- Commons部分 -->
    <div th:replace="commons::header"></div>


    <div class="center wrapper">
        <div class="promo_nav">
            <ul th:each="promoMap:${promoList}">
                <li th:class="${(promo.promoCode == promoMap.key) ? 'promo_nav_link current' : 'promo_nav_link'}" th:each="promo : ${promoMap.value}">
                    <a th:href="@{'/' + ${gender} +'/activites/'+ ${promo.promoCode}}" ><span class="nav_front" th:text="${#strings.arraySplit(promo.promoName,'．')[0]}">限時搶購</span>[[${#strings.arraySplit(promo.promoName,'．')[1]}]]</a></li>
            </ul>
        </div>
        <div class="cartBlock">
            <div class="cart_top">
                <p>已選購 <span id="cart_selected_number">0</span> 件，原價 <span id="cart_origin_price">0</span> 元，折扣價 <span
                        id="cart_discount_price">0</span> 元</p>
                <a th:href="@{/cart}">前往結帳</a>
            </div>
            <hr>
            <div class="cart_bottom">
                <ul>
                </ul>
            </div>
        </div>
        <div class="gender_nav">
            <ul>
                <li th:class="${(gender == 'women') ? 'gender_nav_link current': 'gender_nav_link'}" th:each="promoMap:${promoList}"><a th:href="@{'/women/activites/'+ ${promoMap.key}}">WOMEN</a></li>
                <li th:class="${(gender == 'men') ? 'gender_nav_link current': 'gender_nav_link'}" th:each="promoMap:${promoList}"><a th:href="@{'/men/activites/'+ ${promoMap.key}}">MEN</a></li>
            </ul>
        </div>
        <div class="product_section">
            <ul>
                <li th:each="product:${promoProductList}" th:value="${product.id}">
                    <a  th:href="@{'/'+${gender}+'/details/'+${#strings.substring(product.id,0,5)} + '/' +${product.productColor}}">
                        <img th:src="${product.productImage}" th:alt-title="${product.productInfo.productName}">
                    </a>
                    <h6 th:text="${product.productInfo.productName}">細肩帶印花洋裝-女</h6>
                    <p><del th:text="${'NT$' +product.productInfo.price}"></del> <span th:text="${'活動價NT$'+ product.productInfo.promoPrice}"></span></p>

                    <select name="" class="size_select">
                        <option value="" disabled selected></option>
                        <option th:each="inventory :${product.inventoryList}" th:value="${inventory.id}" th:text="${product.productColor+'-'+inventory.size}">黑色-S</option>
                    </select>
                    <div class="product_section_bottom clear">
                        <select name="" class="quantity_select" max="20">
                            <option>數量</option>
                        </select>
                        <a href="javascript:;" class="add_cart">選購</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>


    <div class="page wrapper" th:if="${maxPage > 1}">
        <a th:href="@{'/'+${gender}+'/activites/'+${promoCode}+'/'+${(start<1)?1:start}}" th:class="${(index==1) ?'page_pre stop' :'page_pre'}">上一頁</a>
        <ul>
            <li th:each="item :${#numbers.sequence(start,maxPage)}" th:class="${(item == index) ? 'current':''}">
                <a th:href="@{'/'+${gender}+'/activites/'+${promoCode}+'/'+${item}}" th:text="${item}">1</a></li>
        </ul>
        <a th:href="@{'/'+${gender}+'/activites/'+${promoCode}+'/'+${(maxPage == index) ? maxPage : (index+1)}}" th:class="${(index == maxPage)?'page_next stop':'page_next'}">下一頁</a>

    </div>
    <div th:replace="commons::footer"></div>

</body>

</html>
