<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leizu 國際服飾品牌</title>

    <link rel="stylesheet" href="../static/css/base.css" th:href="@{/css/base.css}">
    <link rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}">
    <link rel="stylesheet" href="../static/css/main_left_nav.css" th:href="@{/css/main_left_nav.css}">
    <script src="../static/js/jQuery3.6.0.js"  th:src="@{/js/jQuery3.6.0.js}"></script>

    <link rel="stylesheet" href="../static/css/main_category.css" th:href="@{/css/main_category.css}">


</head>

<body>
    <!-- Commons部分 -->
    <div th:replace="commons::header"></div>

    <div class="center wrapper">
        <!-- Women Main Left -->
        <div th:replace="commons::leftNav"></div>


        <div class="product_block">
           <h2>聯名印花短T</h2>
            <h4>可口可樂</h4>
            <div class="product_section">
                <ul>
                    <li>
                        <a href="#">
                            <img src="../static/images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <ul class="color_list">
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                        </ul>
                        <h6>細肩帶印花洋裝-女</h6>
                        <p><del>NT$690</del> 活動價 NT$ 490</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <ul class="color_list">
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                        </ul>
                        <h6>細肩帶印花洋裝-女</h6>
                        <p>NT$ 490</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <ul class="color_list">
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                        </ul>
                        <h6>細肩帶印花洋裝-女</h6>
                        <p><del>NT$690</del> 活動價 NT$ 490</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <ul class="color_list">
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                        </ul>
                        <h6>細肩帶印花洋裝-女</h6>
                        <p>NT$ 6687</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <ul class="color_list">
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                        </ul>
                        <h6>細肩帶印花洋裝-女</h6>
                        <p><del>NT$690</del> 活動價 NT$ 490</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <ul class="color_list">
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                        </ul>
                        <h6>細肩帶印花洋裝-女</h6>
                        <p>NT$ 490</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <ul class="color_list">
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                        </ul>
                        <h6>細肩帶印花洋裝-女</h6>
                        <p><del>NT$690</del> 活動價 NT$ 490</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <ul class="color_list">
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                        </ul>
                        <h6>細肩帶印花洋裝-女</h6>
                        <p>NT$ 6687</p>
                    </li>
                </ul>
            </div>
            <h4>可口可樂</h4>
            <div class="product_section">
                <ul>
                    <li>
                        <a href="#">
                            <img src="../static/images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <ul class="color_list">
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                        </ul>
                        <h6>細肩帶印花洋裝-女</h6>
                        <p><del>NT$690</del> 活動價 NT$ 490</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <ul class="color_list">
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                        </ul>
                        <h6>細肩帶印花洋裝-女</h6>
                        <p>NT$ 490</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <ul class="color_list">
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                        </ul>
                        <h6>細肩帶印花洋裝-女</h6>
                        <p><del>NT$690</del> 活動價 NT$ 490</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <ul class="color_list">
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                        </ul>
                        <h6>細肩帶印花洋裝-女</h6>
                        <p>NT$ 6687</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <ul class="color_list">
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                        </ul>
                        <h6>細肩帶印花洋裝-女</h6>
                        <p><del>NT$690</del> 活動價 NT$ 490</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <ul class="color_list">
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                        </ul>
                        <h6>細肩帶印花洋裝-女</h6>
                        <p>NT$ 490</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <ul class="color_list">
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                        </ul>
                        <h6>細肩帶印花洋裝-女</h6>
                        <p><del>NT$690</del> 活動價 NT$ 490</p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/images/products/product_52264_M_01_n.jpeg" title="">
                        </a>
                        <ul class="color_list">
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                            <li class="color_sample"><a href="#"><img src="../static/images/products/inner_color_5364301_48.jpeg" alt=""></a></li>
                        </ul>
                        <h6>細肩帶印花洋裝-女</h6>
                        <p>NT$ 6687</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <footer>
        <p> 測試用的footer</p>
        <p> 測試用的footer</p>
        <p> 測試用的footer</p>
        <p> 測試用的footer</p>
        <p> 測試用的footer</p>
        <p> 測試用的footer</p>
    </footer>
</body>

</html>

<!-- <script>
    $(".category").mouseenter(function(){
        $(this).children("ul").stop().slideUp();
    }).mouseleave(function(){
        $(this).children("ul").stop().slideDown();
    });
    
</script> -->