<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/main_left_nav.css">
    <link rel="stylesheet" href="../css/product_details.css">

    <script src="../js/jQuery3.6.0.js"></script>

</head>

<body>
    <!-- Commons部分 -->
    <div class="header">
        <div class="wrapper clearfix">
            <div class="logo"><a href="javascript:;">Leizu</a></div>
            <nav>
                <ul>
                    <li><a href="javascript:;">WOMEN</a></li>
                    <li><a href="javascript:;">MEN</a></li>
                </ul>
            </nav>
            <div class="userConsole">
                <div class="search">
                    <form>
                        <input type="text" placeholder="SREACH...">
                        <input type="submit" class="icomoon" value="">
                    </form>
                </div>
                <div class="sub_nav">
                    <ul>
                        <li>
                            <i class="icomoon"></i>
                            <div class="sub_sub_nav">
                                <ul>
                                    <li><a href="#">訂單查詢</a></li>
                                    <li><a href="#">會員專區</a></li>
                                    <li><a href="#">我的收藏</a></li>
                                    <li><a href="#">會員登錄/註冊</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <i class="icomoon"></i>
                            <div class="sub_sub_nav">

                                <p>購物車清單</p>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


    <div class="center wrapper">
        <!-- Women Main Left -->
        <div class="left_nav">
            <div class="category category_promo">
                <h2>女裝新品 & 熱銷</h2>
                <ul>
                    <li><a href="#">超值特惠．任兩件享優惠</a></li>
                    <li><a href="#">牛仔大賞．任選330起</a></li>
                    <li><a href="#">秋裝上市．任兩件享優惠</a></li>
                    <li><a href="#">運動一夏．任選149元起</a></li>
                    <li><a href="#">驚喜特惠．任選299元</a></li>
                </ul>
            </div>

            <ul>
                <li class="category category_product_main">
                    <h2 class="categoryMain">上衣類</h2>
                    <ul>
                        <li><a href="#">聯名印花短T</a></li>
                        <li><a href="#">聯名印花長T</a></li>
                        <li><a href="#">設計印花T</a></li>
                        <li><a href="#">短袖上衣</a></li>
                        <li><a href="#">快乾系列</a></li>
                        <li><a href="#">條紋系列</a></li>
                        <li><a href="#">莫代爾系列</a></li>
                        <li><a href="#">polo系列</a></li>
                        <li><a href="#">針織衫/毛衣</a></li>
                        <li><a href="#">五/七分袖</a></li>
                        <li><a href="#">長袖上衣</a></li>
                        <li><a href="#">立領/高領</a></li>
                        <li><a href="#">長版上衣</a></li>
                        <li><a href="#">輕涼系列</a></li>
                        <li><a href="#">Bra系列</a></li>
                        <li><a href="#">細肩帶/背心</a></li>
                        <li><a href="#">厚棉系列</a></li>
                    </ul>
                </li>
                <li class="category category_product_main">
                    <h2 class="categoryMain">襯衫類</h2>
                    <ul>
                        <li><a href="#">商務襯衫</a></li>
                        <li><a href="#">嫘縈/雪紡</a></li>
                        <li><a href="#">休閒襯衫</a></li>
                        <li><a href="#">亞麻/棉麻襯衫</a></li>
                        <li><a href="#">格紋襯衫</a></li>
                        <li><a href="#">法蘭絨襯衫</a></li>
                    </ul>
                </li>
                <li class="category category_product_main">
                    <h2 class="categoryMain">外套類</h2>
                    <ul>
                        <li><a href="#">機能風衣</a></li>
                        <li><a href="#">抗UV系列</a></li>
                        <li><a href="#">休閒外套</a></li>
                        <li><a href="#">針織外套</a></li>
                        <li><a href="#">西裝/大衣</a></li>
                        <li><a href="#">Fleece系列</a></li>
                    </ul>
                </li>

                <li class="category category_product_main">
                    <h2 class="categoryMain">上衣類</h2>
                    <ul>
                        <li><a href="#">聯名印花短T</a></li>
                        <li><a href="#">聯名印花長T</a></li>
                        <li><a href="#">設計印花T</a></li>
                        <li><a href="#">短袖上衣</a></li>
                        <li><a href="#">快乾系列</a></li>
                        <li><a href="#">條紋系列</a></li>
                        <li><a href="#">莫代爾系列</a></li>
                        <li><a href="#">polo系列</a></li>
                        <li><a href="#">針織衫/毛衣</a></li>
                        <li><a href="#">五/七分袖</a></li>
                        <li><a href="#">長袖上衣</a></li>
                        <li><a href="#">立領/高領</a></li>
                        <li><a href="#">長版上衣</a></li>
                        <li><a href="#">輕涼系列</a></li>
                        <li><a href="#">Bra系列</a></li>
                        <li><a href="#">細肩帶/背心</a></li>
                        <li><a href="#">厚棉系列</a></li>
                    </ul>
                </li>
                <li class="category category_product_main">
                    <h2 class="categoryMain">襯衫類</h2>
                    <ul>
                        <li><a href="#">商務襯衫</a></li>
                        <li><a href="#">嫘縈/雪紡</a></li>
                        <li><a href="#">休閒襯衫</a></li>
                        <li><a href="#">亞麻/棉麻襯衫</a></li>
                        <li><a href="#">格紋襯衫</a></li>
                        <li><a href="#">法蘭絨襯衫</a></li>
                    </ul>
                </li>
                <li class="category category_product_main">
                    <h2 class="categoryMain">外套類</h2>
                    <ul>
                        <li><a href="#">機能風衣</a></li>
                        <li><a href="#">抗UV系列</a></li>
                        <li><a href="#">休閒外套</a></li>
                        <li><a href="#">針織外套</a></li>
                        <li><a href="#">西裝/大衣</a></li>
                        <li><a href="#">Fleece系列</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- 详细页面部分 -->
        <div class="detail_content">
            <div class="cart_section">
                <div class="left">
                    <img src="../images/products/inner_main_5226401_500.jpeg" alt="">
                </div>
                <div class="right">
                    <div class="product_info">
                        <h4>細肩帶印花洋裝-女（ <span id="inventory">黑色 -S</span>）</h4>
                        <div class="price">
                            <p class="originPrice"><del>299</del></p>
                            <p class="showPrice">
                                <span class="showPriceMark">NT$</span><strong>690</strong>
                            </p>
                            <a class="activities" href="javascript:;">秋裝上市．任兩件享優惠 > ></a>
                        </div>
                    </div>
                    <hr>
                    <div class="color_and_size">
                        <div class="color">
                            <ul>
                                <li class="current"><img src="../images/products/inner_color_5364301_48.jpeg" alt="">
                                </li>
                                <li><img src="../images/products/inner_color_5364301_48.jpeg" alt=""></li>
                                <li><img src="../images/products/inner_color_5364301_48.jpeg" alt=""></li>
                            </ul>
                        </div>
                        <div class="size">
                            <ul>
                                <li class="current">S</li>
                                <li>M</li>
                                <li>L</li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="cart">
                        <span>
                            <label for="buyNumber">數量</label>&nbsp;
                            <a href="javascript:;" class="minus"></a>
                            <input type="text" id="buyNumber" maxlength="2" value="1" name="">
                            <a href="javascript:;" class="plus"></a>
                        </span>
                        <button class="addCart">加入購物車</button>
                    </div>
                </div>
            </div>

            <div class="content_images">
                <ul>
                    <li> <img src="../images/products/inner_content_52264_D_12.jpeg" alt=""></li>
                    <li> <img src="../images/products/inner_content_52264_D_13.jpeg" alt=""></li>
                </ul>
            </div>
        </div>


    </div>


    <footer>
        <p> 測試用的footer</p>
        <p> 測試用的footer</p>
        <p> 測試用的footer</p>
        <p> 測試用的footer</p>
        <p> 測試用的footer</p>
        <p> 測試用的footer</p>
    </footer>
</body>

</html>

<script>

</script>