<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leizu 國際服飾品牌</title>

    <link rel="stylesheet" href="../static/css/base.css" th:href="@{/css/base.css}">
    <link rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}">
    <link rel="stylesheet" href="../static/css/main_left_nav.css" th:href="@{/css/main_left_nav.css}">
    <script src="../static/js/jQuery3.6.0.js"  th:src="@{/js/jQuery3.6.0.js}"></script>

    <link rel="stylesheet" href="../static/css/main_category.css" th:href="@{/css/main_category.css}">


</head>

<body>
    <!-- Commons部分 -->
    <div th:replace="commons::header"></div>

    <div class="center wrapper">
        <!-- Women Main Left -->
        <div th:replace="commons::leftNav"></div>


        <div class="product_block">
           <h2 th:text="${subTitle}">聯名印花短T</h2>
            <div class="product_section" th:each="productList :${categoryListMap}">
                <h4 th:text="${productList.key}">可口可樂</h4>
                <ul class="clearfix">
                    <li th:each="product : ${productList.value}">
                        <a href="#" th:href="@{'/'+${gender}+'/details/'+${product.id}}">
                            <img th:src="${product.image}" th:alt-title="${product.productName}">
                        </a>
                        <ul class="color_list">
                            <li class="color_sample" th:each="color:${product.colorImageList}">
                                <a th:href="@{'/'+${gender}+'/details/'+${product.id}}+'/'+${color.productColor}">
                                <img th:src="${color.productColorImage}" th:alt-title="${color.productColor}"></a></li>
                        </ul>
                        <h6 th:text="${product.productName}">細肩帶印花洋裝-女</h6>
                        <p th:unless="${product.promoPrice}" th:text="'NT$'+${product.price}">NT$ 490</p>
                        <p th:if="${product.promoPrice}"><del th:text="'NT$'+${product.price}">NT$690</del> <span th:text="'活動價NT$'+${product.promoPrice}">活動價NT$ 490</span></p>
                    </li>
                </ul>
            </div>

        </div>
    </div>


    <hr>
    <div th:replace="commons::footer"></div>
</body>

</html>
