<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chloe.leizu_pro.mapper.ColorImageMapper">

    <select id="getColorImageAndNameOfListByProductId" resultType="com.chloe.leizu_pro.bean.ColorImage">
        select id, product_id, product_color, product_color_image,product_image from tbl_color_image where product_id = #{productId}
    </select>

</mapper>
