<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.leizu.mapper.InventoryMapper">


    <insert id="addInventoryByCrawler" parameterType="com.example.leizu.bean.Inventory">
        insert into tbl_inventory(id, product_id, color, size, quantity)
        values(#{id}, #{productId}, #{color}, #{size}, #{quantity});
    </insert>

</mapper>
