<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chloe.leizu_pro.mapper.ProductMapper">

    <select id="getProductById" resultType="com.chloe.leizu_pro.bean.Product">
        select * from tbl_product where id = #{id}
    </select>

<!--    <insert id="addProduct" useGeneratedKeys="true" keyProperty="id" parameterType="com.example.leizu.bean.Product">-->
<!--        insert into tbl_product(category, product_name, price, promo, promoPrice)-->
<!--        values(#{category}, #{productName}, #{price}, #{promo}, #{promoPrice});-->
<!--    </insert>-->

<!--    <insert id="addProductByCrawler"  keyProperty="id" parameterType="com.example.leizu.bean.Product">-->
<!--        insert into tbl_product(id, category, product_name, price, promo, promoPrice)-->
<!--        values(#{id}, #{category}, #{productName}, #{price}, #{promo}, #{promoPrice});-->
<!--    </insert>-->
</mapper>